
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: linear-gradient(180deg, #17a2b8 0%, white 70%);
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 6px 8px;
    margin: 20px;
    transition: all 0.3s ease;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
   
}
.edit-title{
    color:black;
    font-size: 28px;
    margin-bottom: 4rem;
}


.loginsignup-fields label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 24px;
}

.loginsignup-fields input,
.loginsignup-fields select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 22px;
}

.loginsignup-fields input:focus,
.loginsignup-fields select:focus {
    border-color: #80bdff;
    outline: none;
}

.error-message {
    color: #d9534f;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.875em;
}

button[type='submit'] {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type='submit']:hover {
    background-color: #4cae4c;
}

.editandupdate {
    display: block;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}

/********************** responsiviness **********************/
@media (max-width: 768px) {
    .form-box {
        padding: 20px;
    }
    .loginsignup-fields input,
    .loginsignup-fields select {
        width: calc(100% - 16px);
    }
}

@media (max-width: 480px) {
    .form-box {
        padding: 15px;
    }
    .loginsignup-fields input,
    .loginsignup-fields select {
        width: calc(100% - 12px);
    }
    button[type='submit'] {
        padding: 8px 0;
    }
}
