:root {
    --primary-color: #4EA685;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;

    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}

/*** service page********/

*{
    margin: 0;

}
.service{
    background-image: url('./images/image2.jpg');
    margin:0;
}
.offers{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 0px 0px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 150px;
    background-color: white;
}
.stitle{
    width: 100%;
    background-image: url('../images/imyitozo.jpg');
    min-height: 20vh;
    text-align: center;
    background-color: #17a2b8;
   
   
}
.stitle h1{
    padding: 100px 0px 30px;
    font-size: 40px;
    color:rgb(58, 56, 56);
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.stitle h2{
    font-size: 40px;
    color: rgb(71, 70, 70);
    font-weight: 500;
    padding: 0px 0px 20px;
}
.offers a{
    background-color: #edf1f5;
    width: 25%;
    padding: 30px;
    margin: 20px 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
.offers .service1 img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
.first-line,.second-line{
    width: 100%;
    display: flex;
}
.offers .service1 p{
    font-size: 25px;
    color:rgb(3, 25, 51)
}

/***************************popup pay warning message********************/
.pay-warning{
    background: linear-gradient(180deg,#e9faea 0%,white 70%);
    width: 400px;
    height:auto;
    margin: auto;
    background:white;
    padding: 30px 60px;
    position: fixed;
    top: 20%;
    left: 45%;
    opacity: 0;
    pointer-events: none;
    border-radius: 7px;
    justify-content:center;
    align-items: center;
    transition:height 1s;
    transform: translate(-40%,-100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.pay-warning p{
    font-size: 30px;
    color: #494748;
}
.pay-warning i{
 text-align: center;
 font-size: 100px;
 color:red;
 padding: 5px 0px 0px 80px;
}
.show-popup .pay-warning{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-40%, -40%);
    transition: transform 0.7s ease, opacity 0.1s;
}