<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <style>

        body{
            background-color: rgb(99, 161, 202);
          
        }
        .form{
            position: absolute;
            background: white;
            width: 500px;
            height: auto;
            left: 40%;

        }
        .input-field{
            padding: 25px;
        }
        .input-field input {
       
            padding: 10px;
            width: 80%;
            font-size: 20px;

            
        }
        .input-field label{
            padding: 20px;
            font-size: 26px;
        }
    </style>

    <div class="form">
        <h1>register</h1>
    <form action="/add" method="post">
         <div class="input-field">

             
            <label for="">name</label>
            <input type="text" name="name" id="name"  placeholder="enter the name">

            <label for="">email</label>
            <input type="text" name="email" id="email" placeholder="enter email">

            <label for="">phone number</label>
            <input type="text" name="phone" id="phone" placeholder="enter your phone">

            <label for="">select image</label>
            <input type="file">
         </div>
        <div class="button">

           <button type="submit">register</button>
        </div>
       

        

    </form>
 </div>
</body>
</html>