<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learn with us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/navigation.css">
    <link rel="stylesheet"  type="text/css"    href="/homepage.css">
    <link rel="stylesheet"  type="text/css"    href="/loginform.css">
</head>
<body>
    <!--navbar-->
    <div class="navbar">
        <div class="logo">
            <img src="/images/images.jpeg" alt="">
            <h1>Twigane</h1>
        </div>
        <div class="nav-links">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#service">Services</a>
            <a href="#contact">Contact</a>
        </div>
        <div class="loginbtn">
            <a href="#login" ><button class="login-btn">login</button></a>
            <a href="#login" ><button class="registe-btn">register</button></a>
           </div>
         
    </div>
   
   
   
  <!-----------home body content---->

  <div class="backdrop-overlay"></div><!--used the backgroud shadow when login form is visible-->
  <div class='hero' id="home">
     <!--------------popup login and register form-->
    
    
   
      
   
        <div class="form-popup" id="login">
            <div class="close-btn">
                <span><i class="fa fa-window-close" aria-hidden="true"></i></span>
            </div>
            
            <div class="form-box login">
               
                <h2>Login</h2>
                
            
                
                  
                    <form action="/login" method="post" id="loginform">
                        <div class='loginsignup-fields'>

                          <label for="title">Username</label>
                          <input type='text'name='username' id='login-username' placeholder='Your Name' />
                          <div class="error-message" id="usernameErrormsg"></div>

                          <label for="title">Password</label>
                          <input type='password' name='password' id='login-password' placeholder='Enter password' />
                          <div class="error-message" id="passwordErrormsg"></div>
                       
                        </div>
                    
                            <button type='submit' class="login-flash">login</button>

                        <div class="login-register">
                            <p>Don't  have an account <a href="#" class="register-link">Register</a></p>
                        </div>
                      </form>
                
            </div>
           <!-----------register form-->
           <div class="form-box register">
            <h2>Register</h2>
            <div class="flash-messages">
            </div>
            <form action="/signup" method="post" id="registrationForm">
                <div class='loginsignup-fields'>
                    <label for="username">Username</label>
                    <input type='text' name='username' id='username' placeholder='Your Name'  />
                    <div class="error-message" id="usernameError"></div>
                    
                    <label for="telephone">Telephone number</label>
                    <input type='text' name='telephone' id='telephone' placeholder='telephone'  />
                    <div class="error-message" id="telephoneError"></div>
                    
                    <label for="password">Password</label>
                    <input type='password' name='password' id='password' placeholder='Enter password'  />
                    <div class="error-message" id="passwordError"></div>
                </div>
                <button type='submit'>Register</button>
                <div class="login-register">
                    <p>Already have an account <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>
        </div>
     
          <!-------------------home page-->
          <!-----------------flash messages feedback for login and registration ------->
    <div class='hero-left'>
        <div class="flash-messages">
            <% if (messages.error) { %>
                <div class="flash-message error"><%= messages.error %></div>
              <% } %>
              <% if (messages.success) { %>
                <div class="flash-message success"><%= messages.success %></div>
              <% } %>
        </div>

        <h2>Welcome!</h2>
        <div>
            <div class='hand-icon'>
                <p></p>
                <img src="/images/trafficicon.png" alt="" />
            </div>
            <p>We are excited that you are here!, you are welcoming to join us and use our website's services, Let's learn together.</p>
        </div>
    </div>
    <div class='hero-right'>     
!
    </div>
    
</div>

<!----------about page-content------->

<div class="about" id="about">
    <div class="title">
        <h1>About Us</h1>
    </div>
<div class='content'>
  <div class="about-left">
 <h1> What we do!</h1>

 <p>Welcome to our comprehensive course on road rules website,We are excited that you are here! our website 
 designed to help you prepare effectively for the official police exam. Our website offers a range of resources
  and tools to enhance your understanding of road rules and increase your chances of success on the exam.<br/>
  
  <span>key features</span><br>
  <ul>
  <li>Interactive Quizzes: Test your knowledge with interactive quizzes that cover a wide range of road rules topics.</li>
  <li>Practice Tests: Prepare for the official exam with our practice tests, designed to simulate the exam experience.</li>
  <li>Study Materials: Access comprehensive study materials, including guides, videos, and articles, to deepen your understanding of road rules.</li>
  <li> Expert Guidance: Benefit from expert guidance from experienced instructors who are dedicated to helping you succeed.</li>
  </ul><br />

  <h3>By taking our course and practice you will</h3>
  
     <ul>
        <li>Gain a thorough understanding of road rules and regulations.</li>
       <li>Improve your exam readiness and confidence.</li> 
       <li>Increase your chances of passing the official police exam.</li> 
       <li>An addition we assisst you To register as a candidate for the official police exam whenever you want!</li> 
   
    </ul>  

 <h2><span>Simply complete our registration form. Once registered, you will have access to all our course materials and resources.</span></h2>

 </p>
 
 </div>
 <div class="about-right">
    <div class="slides">
        
        <div class="slide first">
            <img src="/images/image1.jpg" alt="" width="60%" height="200px">
        </div>
        <div class="slide">
            <img src="/images/image3.jpg" alt="" width="60%" height="200px">
        </div>
        <div class="slide">
            <img src="/images/image4.jpg" alt="" width="70%" height="200px">
        </div>
        
    </div>
 </div>
  </div>
  </div>
</div>

<!------------service part content-->
<div class="service" id="service">
    <div class="stitle">
        <h1>Hello there!</h1>
        <h2>We’ve got everything you need <br />to launch and grow your driving career.</h2>
    </div>
  <div class='offers'>
    <div class="service-box">
      <div class='service1'>
        <img src="/images/rules.png" alt="" />
        <p>Read traffic law gazette</p>
      </div>
      </div>
      <div class="service-box">
      <div class='service1'>
      <img src="/images/irembo.jpg" alt="" />
        <p>we get you the code to do the Official police exam of planning permission & permanent license</p>
      </div>
</div>

      <div class="service-box">
      <div class='service1'>
      <img src="/images/service2.png" alt="" />
        <p>Do exam test & Quizes</p>
      </div>
    </div>

      <div class="service-box">
      <div class='service1'>
      <img src="/images/test.jpg" alt="" />
        <p>Assist you for getting pratical courses for getting permanent driving license</p>
        <div class="dropup-text">
            <p>Iyandikishe </p>
        </div>
      </div>
     </div>
    </div>
   </div>

   <!-------------contact page content-->
   <div class="contact" id="contact">
    <div class="ctitle">
        <h1>Contact us</h1>
    </div>
  
    <div class="contact-channel">
        <div class="call">
            <i class="fa fa-phone-square" aria-hidden="true" style="color: green;"></i>
            <h1>Phone number</h1>
            <p>MTN Rwanda</p>
            <label for="">+250780698611</label>
            <p>Airtel Rwanda</p>
            <label for="">+250724790381</label>
        </div>
        <div class="email">
            <i class="fa fa-envelope" aria-hidden="true" style="color: rgb(247, 129, 129);"></i>
            <h1>Email</h1>
            <p>Text me via this email address</p>
            <label for="">fidelehirwa2@gmail.com</label>
        </div>
        <div class="whatsapp">
            <i class="fa fa-whatsapp" aria-hidden="true" style="color: #63E6BE;"></i>
            <h1>Whatsapp</h1>
            <p>Text me on this number:</p>
            <label for="">+250780698611</label>

        </div>
        <div class="address">
            <i class="fa fa-map-marker" aria-hidden="true" style="color: #58cdf7;"></i>
            <h1>Address</h1>
            <p>Kigali - RWANDA</p>
            <label for="">Nyamirambo</label>
        </div>
    </div>
    <hr />
        <div class="direct-message">
            <div class="contact-form">
                <h2>Direct message</h2>
                <form onSubmit={handleSubmit}>
                    <input type="text" name="name" placeholder="Your Name" required />
                    <input type="email" name="email" placeholder="Your Email" required />
                    <textarea name="message" placeholder="Your Message" required ></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
 <!--------------------footer-------------->
 <div class='footer'>
    <div class="footer-logo">
        <img src="" alt="" />
        <p>Twigane</p>
    </div>
    <ul class='footer-links'>
        <li>Home</li>
        <li>About us</li>
        <li>Service</li>
        <li>Contact us</li>
    </ul>
 <div class="footer-social-icon">
    <div class="footer-icon-container">
        <i class="fa fa-envelope" aria-hidden="true" style="color: yellowgreen;"></i>
    </div>
    <div class="footer-icon-container">
        <i class="fa fa-facebook-square" aria-hidden="true" style="color: yellowgreen;"></i>
    </div>
    <div class="footer-icon-container">
        <i class="fa fa-whatsapp" aria-hidden="true" style="color: yellowgreen;"></i>
    </div>
    <div class="footer-icon-container">
        <i class="fa fa-linkedin-square" aria-hidden="true" style="color: yellowgreen;"></i>

    </div>
 </div>
 <div class="footer-copyright">
    <hr />
    <p>Copyright@2023 | All right reserved @Castro@</p>
 </div>
</div>

<!------------importing outside javascript codes-->
<script src="/login.js"></script>
<script src="/formvalidation.js"></script>
</body>
</html>