
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imyitozo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"  type="text/css"  href="/userpage/footer.css">
    <link rel="stylesheet"  type="text/css"  href="/userpage/stylingpage.css">
</head>
<body>
     <!--navbar-->
     <div class="navbar">
        <div class="logo">
            <img src="/images/images.jpeg" alt="">
            <h1>Twigane</h1>
        </div>
        <div class="nav-links">
            <h1>Hello!:</h1>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="loginbtn">
            
            <a href="/" ><button class="registe-btn">Logout</button></a>
           </div>
         
    </div>
 <!---------------service-->
    <div class="service" id="service">
        <div class="stitle">
            <h1>Hello there!</h1>
            <h2>We’ve got everything you need <br />to launch and grow your driving career.</h2>
        </div>
      <div class='offers'>
          <div class="first-line">

         
         <a href="/quiz1"><div class='service1'>
            <img src="/images/service2.png" alt="" />
            <p>quiz 1</p>
          </div>
           </a>

          <a href=""><div class='service1'>
          <img src="/images/service2.png" alt="" />
            <p>quiz 2</p>
          </div>
          </a>
    
        <a href=""><div class='service1'>
          <img src="/images/service2.png" alt="" />
            <p>quiz 3</p>
          </div>
          </a>

          <a href=""><div class='service1'>
            <img src="/images/service2.png" alt="" />
              <p>quiz 4</p>
            </div>
            </a>
            </div>
        <div class="second-line">
       
                <a href=""><div class='service1'>
                    <img src="/images/service2.png" alt="" />
                      <p>quiz 5</p>
                    </div>
                    </a>
              <a href=""><div class='service1'>
              <img src="/images/service2.png" alt="" />
                <p>quiz 6</p>
              </div>
              </a>

              <a href=""><div class='service1'>
                <img src="/images/service2.png" alt="" />
                  <p>quiz 7</p>
                </div>
                </a>
          <a href=""><div class='service1'>
          <img src="/images/service2.png" alt="" />
            <p>quiz 8</p>
          </div>
          </a>
              </div>
        </div>
       </div>
    <!--------------------footer-------------->
 <div class='footer'>
    <div class="footer-logo">
        <img src="" alt="" />
        <p>Twigane</p>
    </div>
    <ul class='footer-links'>
        <li>Home</li>
        <li>About us</li>
        <li>Service</li>
        <li>Contact us</li>
    </ul>
 <div class="footer-social-icon">
    <div class="footer-icon-container">
        <i class="fa fa-envelope" aria-hidden="true" style="color: yellowgreen;"></i>
    </div>
    <div class="footer-icon-container">
        <i class="fa fa-facebook-square" aria-hidden="true" style="color: yellowgreen;"></i>
    </div>
    <div class="footer-icon-container">
        <i class="fa fa-whatsapp" aria-hidden="true" style="color: yellowgreen;"></i>
    </div>
    <div class="footer-icon-container">
        <i class="fa fa-linkedin-square" aria-hidden="true" style="color: yellowgreen;"></i>

    </div>
 </div>
 <div class="footer-copyright">
    <hr />
    <p>Copyright@2023 | All right reserved @Castro@</p>
 </div>
</div>
</body>
</html>
</body>
</html>