<div class="navbar">
    <div class="logo">
        <img src="/images/images.jpeg" alt="">
        <h1>Twigane</h1>
    </div>
    <div class="nav-links">
        <a href="/services">Services</a>
        <a href="/contact">Contact</a>
        <a href="/quizes">Imyitozo</a>
    </div>
    <div class="loginbtn">
        
      <form id="logoutForm" action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
      
       </div>
     
</div>